---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

.paper-box {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px #efefef solid;
    padding: 2em 0 2em 0;
    

    .paper-box-image{
        justify-content: center;
        display: flex;
        width: 100%;
        order: 2;
        img {
            max-width: 400px;
            box-shadow: 3px 3px 6px #888;
            object-fit: cover;
        }
    }
    
    .paper-box-text{
        max-width: 100%;
        order: 1;
    }
    
    @include breakpoint($medium) {
        .paper-box-image{
            justify-content: left;
            min-width: 200px;
            max-width: 40%;
            order: 1;
        }
        
        .paper-box-text{
            justify-content: left;
            padding-left: 2em;
            max-width: 60%;
            order: 2;
        }

    }


}

.awards-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;

    .paper-box {
        flex-direction: column;
        align-items: stretch;
        border-bottom: 0;
        padding: 0;
    }

    .paper-box-image {
        order: 1;
        justify-content: center;
        max-width: 100%;

        img {
            width: 100%;
            max-width: 100%;
        }
    }

    .paper-box-text {
        order: 2;
        max-width: 100%;
        padding-left: 0;
    }

    @include breakpoint($medium) {
        grid-template-columns: repeat(2, minmax(0, 1fr));

        .paper-box-image {
            min-width: 0;
        }
    }
}

$scroll_offset : 2em;
h1:before, .anchor:before { 
    content: ''; 
    display: block; 
    position: relative; 
    width: 0; 
    height: $scroll_offset; 
    margin-top: -$scroll_offset;
}

.badge {
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    margin-top: .5em;
    margin-left: -.5em;
    color: white;
    background-color: #00369f;
    font-size: .8em;
}

.site-description {
    font-family: "Times New Roman", "SimSun", "宋体", serif;
    white-space: normal;
    margin-bottom: 1em;
    text-align: center;
}

.conference-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    margin: 1.5em 0;
}

.conference-card {
    margin: 0;
    text-align: center;

    img {
        width: 100%;
        height: auto;
        display: block;
        box-shadow: 3px 3px 6px #888;
    }

    figcaption {
        margin-top: 0.75em;
        font-size: 0.95em;
        font-weight: 700;
        text-align: center;
    }
}

.award-center {
    text-align: center;
}

@include breakpoint($medium) {
    .conference-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}